
	@font-face {
  		font-family: 'Helvetica';
  		src: url(assets/HelveticaLTStd-Roman.otf);
	}

	@font-face {
  		font-family: 'Helvetica-Italic';
  		src: url(assets/HelveticaLTStd-Obl.otf);
	}

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	cursor: url("assets/co.png"), auto;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  	}

/**:active { 
  	cursor: url("assets/whitecircle.png"), auto;
  	}*/


	html {
  		margin: 0;
  		background-color: white;
  		overflow-x: hidden;
  	}

  	body{
  	}

    html a {
  		color: 	#008000;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(30px + 0.2vw);
	}

	a, a:link, a:visted, a:active {
		color: 	#008000;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
	}

	header{
		width: 100vw;
		position: fixed;
		background-color: white;
		top: 0;
		display: inline;
		padding-top: 0.85em;
		padding-left: 0.75em;
	}

	header #lang {
		right:1.5em;
		top: 0.25em;
		float: right;
		position: absolute;
		display: inline;
		text-transform: capitalize;
	}

	header #lang-2 {
		right:1.5em;
		top: 0.25em;
		float: right;
		position: absolute;
		display: none;
		text-transform: capitalize;
	}

/*	header #about {
		position: sticky;
		top:0px;
		display: inline-block;
	}*/

	.about.active{
		opacity: 0;
	}


	#about {
		display: none;
		background-color: white;
		height: 100vh;
		width: 99vw;
		margin: 0;
		top: 0px;
		left: 0px;
		z-index: 99999;
		padding-top: calc(0.25em + 0.2vw);
		padding-left: calc(0.15em + 0.2vw);
		padding-right: calc(4vw + 0.2vw);
	}


	#about a{
		font-family: Times,sans-serif;
		font-size: calc(33.5px + 0.2vw);
		line-height: 43px;
	}


	footer{
		position: static;
		background-color: white;
		padding-bottom: 0.25em;
		padding-left: 0.25em;
		padding-top: 0.5;
	}

	footer, footer a, #para1 a{
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		bottom: 0em;
		padding-left: 0.25em;
	}


	footer #contact {
		right:1.25em;
		float: right;
		position: absolute;
		display: inline;
		z-index: 9999999;
		cursor: pointer;
	}

	img {
  		width: 100%;
  		height: auto; }

  	#section-2{
  		visibility: none;
  	}

  	#section-2.active{
    	visibility: visible;
  		height: 99vh;
  	}

  	#section-2.active #itemGallery{
		height: 99vh;
		width:100%;
	/*background-color: blue;*/
  	}

/*	body, p {
  	font-size: calc(18.5px + 0.2vw); 
	}*/





/* Most important right here ___________________________________________*/



	main {		
		background: white;
		min-height: 100vh;
	}	

	body{
		margin-left: 0;
	}

	.item {
		display: flex;
		padding-left: 0.10em;
	}	


	.item .itemNumber {
		display: block;
		min-width: 5.85em;
		padding-left: 0.35em;
		font-family: Times,sans-serif;
		font-size: calc(29.5px + 0.2vw);
		line-height: 30px;
	}

	.item .itemDate {
		display: block;
		min-width: 250px;
		font-family: Times,sans-serif;
		font-size: calc(29.5px + 0.2vw);
		line-height: 30px;
	}

	.itemTitle {
		display: block;
		min-width: 5em;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(26px + 0.2vw);
	}


	.itemTitle:active{
		font-family: 'Helvetica-Italic', Helvetica, Arial, sans-serif;
		transition: 1s;
	}



	.item-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		display: none;
		z-index: 9999;	
	}
	
	.item-image img {
		max-height: 500px;
		width: auto;
	}

	.item-carousel {
		max-height: 500px;
		max-width: 700px;
		display:none;
	}

	.item-carousel.active {
		max-height: 99vh;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.item-carousel.active img {
		max-height: 80vh;
		width: auto;
		margin-top:7.25em;

	}

	.container{
		background: white;
		margin-top: calc(3.75em + 0.2vw);
		margin-bottom: calc(0.85em + 0.2vw);
	}

	#slide2 {
		display: none;
	}









/* Mobile size: ___________________________________________*/


@media screen and (max-width: 470px) {


	html a {
  		color: #008000;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(19pt + 0.2vw);
	}

	header{
		width: 100%;
		left: 0px;
		padding-bottom: calc(0.25em + 0.2vw);
	}
	

	.container{
		background: white;
		margin-top: calc(5.75em + 0.2vw);
		margin-bottom: calc(0.85em + 0.2vw);
	}


	#about {
		display: none;
		background-color: white;
		height: 100vh;
		width: 99vw;
		margin: 0;
		top: 0px;
		left: 0px;
		z-index: 9999;
		padding-top: calc(0.25em + 0.2vw);
		padding-right: calc(2em + 0.2vw);
	}

	#about a{
		font-family: Times,sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 30px;
	}


	.item{
		display: flex;
		padding-bottom: calc(0.25em + 0.2vw);
		padding-left: calc(0.25em + 0.2vw);
	}


	.item .itemNumber {
		display: none;
	}

	.item .itemDate {
		display: block;
		min-width: calc(5.5em + 0.2vw);
		font-family: Times,sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 23px;

	}

	.itemTitle {
		display: block;
		min-width: 5em;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(16pt + 0.2vw);
		line-height: 29px;
	}



	.item-image {
		position: relative;
		width: 100vw;
		height: 100%;
		padding-bottom: 2em;
		align-items: center;
		justify-content: center;
		display: block !important;
		/*background-color: blue;*/
	}

	.item-image img{
		width: 100%;
		z-index: -1;
	}


	header #lang, header #lang-2 {
		padding-top: calc(0.15em + 0.2vw);
		right: calc(0.75em + 0.2vw);
	}


	#lang #arrow, #lang-2 #arrow{
		height:21pt;
		width:21pt;
	}

	header .about{
		display: block;
	}

	.about.active{
		opacity: 100;
	}

	#exit{
		display: none;
	}

	footer{
		padding-bottom: calc(2em + 0.2vw);	
	}


}



/* Mobile size TINY 320: ___________________________________________*/


@media screen and (max-width: 320px) {


	html a {
  		color: #008000;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: calc(19pt + 0.2vw);
	}
#about a{
		font-family: Times,sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 23px;
	}
	
.item .itemDate {
		display: block;
		min-width: 25px;
		font-family: Times,sans-serif;
		font-size: calc(17pt + 0.2vw);
		line-height: 25px;

	}
.itemTitle {
		display: block;
		min-width: 5em;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(16pt + 0.2vw);
	}
#lang #arrow, #lang-2 #arrow{
		height:21pt;
		width:21pt;
	}

}


