
	@font-face {
  	font-family: "thumbcramp-dingbats";
  	src: url(fonts/thumbcramp-dingbats.otf);
	}

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	cursor: url("assets/whitecircle.png"), auto;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  	}

*:active { 
  	cursor: url("assets/blackcircle.png"), auto;
  	}

	html {
  	margin: 0;
  	background-color: white;
  	overflow-x: hidden;
  	}

  	body{
  	}

    html a {
  	color: green;
	font-family: Helvetica,sans-serif;
	text-decoration: none;
	font-size: calc(32px + 0.2vw);
	}

	a, a:link, a:hover, a:visted, a:active {
	color: green;
	font-family: Helvetica,sans-serif;
	text-decoration: none;
	}

	header{
	width: 100vw;
	position: fixed;
	background-color: white;
	top: 0;
	display: inline;
	padding-top: 0.25em;
	padding-left: 0.25em;
	}

	header #lang {
		right:1.5em;
		float: right;
		position: absolute;
		display: inline;
		text-transform: capitalize;
	}

	header #about {
		position: sticky;
		top:0px;
		display: inline-block;
	}

	footer{
	position: static;
	background-color: white;
	padding-bottom: 0.5em;
	padding-left: 0.25em;
	padding-top: 0.5;
	}

	footer, footer a, #para1 a{
	font-family: Helvetica,sans-serif;
	bottom: 0em;
	}


	footer #contact {
		right:1.5em;
		float: right;
		position: absolute;
		display: inline;
	}

	img {
  	width: 100%;
  	height: auto; }


/*	body, p {
  	font-size: calc(18.5px + 0.2vw); 
	}*/


/* Most important right here ___________________________________________*/

	main {		
		background: white;
		min-height: 100vh;
	}	

	.item {
		display: flex;
		padding-left: 0.10em;
	}	

	.itemDate {
		display: block;
		min-width: 5em;
		font-family: Times,sans-serif;
		font-size: calc(35.5px + 0.2vw);
	}
	
	.item .itemTitle {
		display: block;
		min-width: 250px;
		font-family: Times,sans-serif;
		font-size: calc(35.5px + 0.2vw);
/*		float: right;
		padding-left: 67vw;
		right:0em;*/
	}

	.item-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		display: none;
		z-index: 9999;	
	}
	
	.item-image img {
		max-height: 400px;
		width: auto;
	}

	.archiveContainer h1 {
		margin: 50px 0;
	}
	
	.container-fluid {
		background: white;
		margin-top: calc(3.5em + 0.2vw);
		margin-bottom: calc(0.75em + 0.2vw);
	}


/* Media sizes ___________________________________________*/

	
@media (min-width: 1600px){
		.item {
		font-size: 20px;
		}	
}


@media (max-width: 768px) {
		
	.itemDate {
		min-width: 200px;	
	}
	.item-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		z-index: 9999;
	}

	.item-image img{
		display: flex;
	}
}


