
	@font-face {
  	font-family: 'Helvetica';
  	src: url(assets/HelveticaLTStd-Roman.otf);
	}

	@font-face {
  	font-family: 'Helvetica-Italic';
  	src: url(assets/HelveticaLTStd-Obl.otf);
	}

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
  	cursor: url("assets/co.png"), auto;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  	}

/**:active { 
  	cursor: url("assets/whitecircle.png"), auto;
  	}*/

	html {
  	margin: 0;
  	background-color: white;
  	overflow-x: hidden;
  	}

  	body{
  	}

    html a {
  	color: 	#008000;
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: calc(32px + 0.2vw);
	}

	a, a:link, a:visted, a:active {
	color: 	#008000;
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
	text-decoration: none;
	}

	header{
	width: 100vw;
	position: fixed;
	background-color: white;
	top: 0;
	display: inline;
	padding-top: 0.85em;
	padding-left: 0.25em;
	}

	header #lang {
		right:1.5em;
		float: right;
		position: absolute;
		display: inline;
		text-transform: capitalize;
	}

	header #lang-2 {
		right:1.5em;
		float: right;
		position: absolute;
		display: none;
		text-transform: capitalize;
	}

	header #about {
		position: sticky;
		top:0px;
		display: inline-block;
	}

	footer{
	position: static;
	background-color: white;
	padding-bottom: 0.5em;
	padding-left: 0.25em;
	padding-top: 0.5;
	}

	footer, footer a, #para1 a{
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
	bottom: 0em;
	}


	footer #contact {
		right:1.5em;
		float: right;
		position: absolute;
		display: inline;
	}

	img {
  	width: 100%;
  	height: auto; }

  	#section-2{
  	visibility: none;
  	}

  	#section-2.active{
    visibility: visible;
  	height: 99vh;
  	}

  	#section-2.active #itemGallery{
	height: 700px;
	width:700px;
	align-items: center;
	background-color: blue;
  	}

  	#section-2.active #itemGallery img{
	height: 500px;
	width: auto;
  	}

/*	body, p {
  	font-size: calc(18.5px + 0.2vw); 
	}*/


/* Most important right here ___________________________________________*/

	main {		
		background: white;
		min-height: 100vh;
	}	

	.item {
		display: flex;
		padding-left: 0.10em;
	}	

	.item:hover{
		
	}	

	.item .itemNumber {
		display: block;
		min-width: 5em;
		font-family: Times,sans-serif;
		font-size: calc(35.5px + 0.2vw);
		line-height: 30px;
	}

	.item .itemDate {
		display: block;
		min-width: 250px;
		font-family: Times,sans-serif;
		font-size: calc(35.5px + 0.2vw);
		line-height: 30px;
	}

	.itemTitle {
		display: block;
		min-width: 5em;
		font-family: 'Helvetica', Helvetica, Arial, sans-serif;
		font-size: calc(32px + 0.2vw);
	}

	.itemTitle:active{
	font-family: 'Helvetica-Italic', Helvetica, Arial, sans-serif;
	transition: 1s;
	}



	.item-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		display: none;
		z-index: 9999;	
	}
	
	.item-image img {
		max-height: 450px;
		width: auto;
	}
	
	.container{
		background: white;
		margin-top: calc(4.25em + 0.2vw);
		margin-bottom: calc(0.75em + 0.2vw);
	}


/* Mobile size: ___________________________________________*/


@media (max-width: 470px) {


	html a {
  	color: #008000;
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: calc(16pt + 0.2vw);
	}

	.itemNumber {
		display: block;
		min-width: 1em;
		font-family: Times,sans-serif;
		font-size: calc(19.5pt + 0.2vw);
	}
	
	.item .itemDate {
		display: block;
		min-width: 250px;
		font-family: Times,sans-serif;
		font-size: calc(19.5pt + 0.2vw);
/*		float: right;
		padding-left: 67vw;
		right:0em;*/
	}

	.item-image {
		position: fixed;
		width: 100%;
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	.item-image img{
	}

}


